<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="google-site-verification"
      content="Is7rtHog51Lk3WCkC_kczsM38iRerq6r6qpYq7yRwV0"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Krisha Timalsina</title>
    <meta
      name="description"
      content="A storyteller of hetauda who is passonate about her imaginations"
    />
    <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include ('../partials/header') %>
    <main><%- include ('../partials/flash') %> <%- body %></main>
    <%- include ('../partials/footer') %> <%- include ('../partials/scripts') %>
  </body>
</html>
