<% layout('layouts/boilerplate') %>

<div class="my-5">
  <div class="col-8 offset-2">
    <h2 class="mb-3" style="text-align: center">Edit BlogPost</h2>
    <form action="/posts/<%= post.id %>?_method=PUT" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="post[title]"
          value="<%= post.title %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="subtitle" class="form-label">Sub-Title</label>
        <input
          type="text"
          class="form-control"
          id="subtitle"
          name="post[subtitle]"
          value="<%= post.subtitle %>"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="post[description]"
          id="description"
          cols="30"
          rows="2"
          maxlength="100"
          required
        >
<%= post.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="post[image]"
          value="<%= post.image %>"
          required
        />
      </div>
      <div class="mb-3">
        <label for="blog" class="form-label">Blog</label>
        <textarea
          class="form-control"
          name="post[blog]"
          id="blog"
          cols="30"
          rows="20"
          required
        >
<%= post.blog %></textarea
        >
      </div>
      <button class="btn btn-outline-dark mt-3">save</button>
    </form>
  </div>
</div>
