<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Articles</title>
    <%- include('../partials/styles') %>
  </head>
  <body>
    <%- include('../partials/header') %> <%- include('../partials/flash') %>
    <h3 class="all-blogs-heading">All Articles</h3>
    <div class="all-blogs">
      <% for (let post of posts) { %>
      <a href="/posts/<%= post.id %>">
        <div class="card mt-4" style="width: 18rem">
          <img src="<%= post.image %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.description %></p>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <%- include('../partials/footer') %> <%- include('../partials/scripts') %>
  </body>
</html>
